API_ID=7052875 # get this value from my.telegram.org
API_HASH=e348e17be7630965efdee3bf52c2a475 # get this value from my.telegram.org
BOT_TOKEN=2039569371:AAGdHwFwv1putoSmyZp6k_UEz3Ogg5LrwOw # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://usergebot:usergebot@cluster0.riyjt.mongodb.net/tes?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001818815940 # get this value from in your log group 
MUSIC_BOT_NAME=Kirito # your music bot name 
DURATION_LIMIT=240
AUTO_LEAVING_ASSISTANT=True
OWNER_ID=742495738 5833500280
AUTO_DOWNLOADS_CLEAR=True
